# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
staticfiles/
db.sqlite3
db.sqlite3-journal
.pytest_cache/
.coverage
htmlcov/

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
.obsidian/

.vite/
